.title {
    color: #059855;
    font-size: 32px;
    margin-right: auto;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .searchHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .searchInputs {
    display: flex;
    justify-content: flex-end;
  }
  
  .searchContainer {
    padding: 10px 12px;
    border-radius: 999999px;
    margin: 0 3px;
    border: 2px solid #059855;
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchContainerdate {
    outline: none;
    border: none;
    background-color: transparent; 
    width: 40px; 
    font-size: 14px; 
  } 

  .searchContainerdate svg {
    height: 10rem;
    width: 10.5rem;
    border: none;
  }

  
  .searchContainerdate input[type='date']::-webkit-calendar-picker-indicator {
    height: 1.5rem; 
    width: 1.5rem; 
    transform: scale(1.5);
    cursor: pointer; 
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(90deg); /* Color filter */
  }
  
  .searchContainerdate input[type='date']::-webkit-datetime-edit {
    display: none; 
    outline: none; 
    border: none; 
  }
  
  .searchContainerdate input[type='date']:focus {
    outline: none; 
    border: none;
    box-shadow: none;
  }
  
  .searchContainer svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
  }
  
  .searchContainer:focus-within {
    border: 2px solid #1c7a50;
    border-radius: 20px;
  }
  
  .searchContainer input {   
    transition: border-color 0.3s ease-in-out;
    font-family: 'Open Sans';
    outline: none; 
    border: none;
  }
  
  .searchContainer input:focus {
    outline: none; 
  
  }
  
  .searchContainer input[type='date'] {
    outline: none;
    border: none;
  }
  
  .searchContainer input[type='text'] {
    padding: 0;
    margin: 0;
  }
